{%extends "manager_login_ok.html"%}
{%block content%}
  <h1 style="color:#ce554c">Analysis</h1>
  <h2 style="color:#ce554c">Select which type of graph you want</h2>
  
    <br/>
    <br/>
    <form action="/analytic-bar/" method="POST"></form>
    <button onclick="window.location.href = '/barchart/';">Bar Chart</button>
    </form>
    <form action="/analytic-scatter" method="POST"></form>
    <button onclick="window.location.href = '/scatterchart/';">Scatter Chart</button>
    </form>
    <br/>
    <br/>
    <br/>
  
{%endblock%}
