{%extends "maplayout.html"%} {%block content%}

<head>
    <title>Ryder Scooters</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        var map, infoWindow;

        function initMap() {

        var contentString1 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Frederickson Court Station</h1>'+
            '<p>CLICK TO GO HERE <a href="https://en.wikipedia.org/w/index.php?title=Google">'+     // <----- IF YOU NEED TO ADD URLS
            'https://en.wikipedia.org/w/index.php?title=Google</a> '+                               // <-----
            '</div>'+
            '</div>';
            var infowindow1 = new google.maps.InfoWindow({
          content: contentString1
        });

        var contentString2 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Memorial Union Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow2 = new google.maps.InfoWindow({
          content: contentString2
        });

        var contentString3 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Parks Libary Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow3 = new google.maps.InfoWindow({
          content: contentString3
        });

        var contentString4 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Kildee Hall Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow4 = new google.maps.InfoWindow({
          content: contentString4
        });

        var contentString5 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">State Gym Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow5 = new google.maps.InfoWindow({
          content: contentString5
        });

        var contentString6 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Maple-Willow Larch Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow6 = new google.maps.InfoWindow({
          content: contentString6
        });

        var contentString7 =
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Towers Station</h1>'+
            '</div>'+
            '</div>';
            var infowindow7 = new google.maps.InfoWindow({
          content: contentString7
        });


            // Iowa State lat/long to use for centering
            var iowaState = {
                lat: 42.0266187,
                lng: -93.6464654
            };
            // The locations of the Docking Stations
            var frCourt = {
                lat: 42.0339213,
                lng: -93.6430000
            };
            var memUnion = {
                lat: 42.02365,
                lng: -93.6459455
            };
            var library = {
                lat: 42.0281254,
                lng: -93.6488141
            };
            var kilHall = {
                lat: 42.0295129,
                lng: -93.6438587
            };
            var stateGym = {
                lat: 42.0250759,
                lng: -93.6536049
            };
            var mapleLarch = {
                lat: 42.0237874,
                lng: -93.6382459
            };
            var towers = {
                lat: 42.015988,
                lng: -93.649992
            };
            // Styles a map in night mode.
            var map = new google.maps.Map(document.getElementById('map'), {

                center: {
                    lat: 42.0266187,
                    lng: -93.6464654
                },
                zoom: 16,

                styles: [{
                    elementType: 'geometry',
                    stylers: [{
                        color: '#212121'
                    }]
                }, {
                    elementType: 'labels.icon',
                    stylers: [{
                        visibility: 'off'
                    }]
                }, {
                    elementType: 'labels.text.stroke',
                    stylers: [{
                        color: '#212121'
                    }]
                }, {
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#757575'
                    }]
                }, {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#d59563'
                    }]
                }, {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#757575'
                    }]
                }, {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#181818'
                    }]
                }, {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#6b9a76'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#38414e'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{
                        color: '#212a37'
                    }]
                }, {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#9ca5b3'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#746855'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{
                        color: '#1f2835'
                    }]
                }, {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#f3d19c'
                    }]
                }, {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#2f3948'
                    }]
                }, {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#d59563'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{
                        color: '#17263c'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#515c6d'
                    }]
                }, {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{
                        color: '#17263c'
                    }]
                }]
            });
            infoWindow = new google.maps.InfoWindow;
            // The markers
            var marker1 = new google.maps.Marker({
                position: frCourt,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Frederiksen Court Station'
            });
            var marker2 = new google.maps.Marker({
                position: memUnion,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Memorial Union Station'
            });
            var marker3 = new google.maps.Marker({
                position: library,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Parks Libary Station'
            });
            var marker4 = new google.maps.Marker({
                position: kilHall,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Kildee Hall Station'
            });
            var marker5 = new google.maps.Marker({
                position: stateGym,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'State Gym Station'
            });
            var marker6 = new google.maps.Marker({
                position: mapleLarch,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Maple-Willow Larch Station'
            });
            var marker7 = new google.maps.Marker({
                position: towers,
                icon: '/static/images/charging-station.png',
                map: map,
                title: 'Towers Station'
            });

            marker1.addListener('click', function() {
          infowindow1.open(map, marker1);
        });
            marker2.addListener('click', function() {
          infowindow2.open(map, marker2);
        });
            marker3.addListener('click', function() {
          infowindow3.open(map, marker3);
        });
            marker4.addListener('click', function() {
          infowindow4.open(map, marker4);
        });
            marker5.addListener('click', function() {
          infowindow5.open(map, marker5);
        });
            marker6.addListener('click', function() {
          infowindow6.open(map, marker6);
        });
            marker7.addListener('click', function() {
          infowindow7.open(map, marker7);
        });

        }

        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9byGYLqCfDxvyapHypnk_6nYDD9wg2qo&callback=initMap" async defer></script>
</body>
{%endblock%}