{%extends "practicewindow.html"%} {%block content%}
<h1>Login to use the Ryder Application.</h1>
<h2>User Login</h2>
<form action="" method="POST">
    <label>First Name:</label><input type="text" value="" name="firstname" required/>
    <br/>
    <label>Last Name:</label><input type="text" value="" name="lastname" required/>
    <br/>
    <label>Username:</label><input type="text" value="" name="username" required/>
    <br/>
    <label>Password:</label><input type="text" value="" name="password" required/>
    <br/>
    <input type="submit" value="Sign Up" />
    <br/>
    <br/>
    <br/>
</form>
{%endblock%}